body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: px;
  background: #c9cacc;
}

body::-webkit-scrollbar-track:hover {
  background: #78797a;
}

body::-webkit-scrollbar-thumb {
  background: #3d5585; 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #01143b; 
}


#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  filter: drop-shadow(2px 4px 6px black);
  right: 50%;
  z-index: 1;
  height: 10vw;
}